// Needed for hexagons
$cos-30: 0.866025404;

// Fonts
//---------------------/
$font-heading: 'PT Sans', serif;
$font-body: 'PT Sans', serif;


// Colours
//---------------------/
$white: #F5F5F5;
$red: #FF5A5F;
$blue: #087E8B;
$black: #3C3C3C;

$link-colour: $blue;

$popup-background: $black;
$popup-text: $white;
