@import "variables";

/* Resets
---------------------*/
html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 2em;
  margin: 0.5em 0;
}

h2 {
  font-size: 1.5em;
  margin: 0.8em 0;
}

h3 {
  font-size: 1.2em;
  margin: 1em 0;
}

// Help IE11 apply styles to main correctly
main {
  display: block;
}

nav ul {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

a {
  color: $link-colour;
}

section {
  margin: 3em 0;

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

button {
  margin: 1em;
  border: none;
  border-radius: 5px;
  padding: 0.5em 1em;
  font-size: 1em;
  background-color: $button-background-colour;
  color: $button-text-colour;
}


/* General
---------------------*/
body.modal-open {
  overflow-y: hidden;
}

.hidden {
  display: none;
}

@media all and (min-width: 980px) {
  .content {
    margin: 0 5%;
  }
}


/* Fonts
---------------------*/
html {
  font-family: $font-body;
  background-color: $background-colour;
  color: $text-colour;
}

h1, h2, h3 {
  font-family: $font-heading;
}

button {
  font-family: $font-body;
}


/* Header
---------------------*/
header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: $nav-background;
  z-index: 5;
}

header > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-title {
  font-size: 1.5em;
  color: #F5F5F5;
}

@media all and (min-width: 650px) {
  .page-title {
    margin-left: 1rem;
    font-size: 2em;
  }
}

nav {
  width: 100%;
  max-width: 400px;

  ul {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  li {
    display: inline-block;
    flex: 1 0 auto;
    height: 100%;
  }

  a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 0.5rem;
    text-align: center;
    color: $nav-link-text;
    text-decoration: none;

    &:hover {
      background-color: $nav-link-background-hover;
      color: $nav-link-text-hover;
      transition: background-color 0.3s linear, color 0.3s linear;
    }
  }
}

@media all and (min-width: 650px) {
  header > div {
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
  }

    nav a {
      padding: 1rem;
      font-size: 1.3em;
    }
}

/* Main
---------------------*/
.main-content {
  margin-top: 85px;
  padding: 1em;
}

/* Skills section
---------------------*/
.skills {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: top;
  flex-wrap: wrap;
  margin: 0 -1em;
}

.skill {
  width: 128px;
  margin: 1em;
  text-align: center;
}

@media all and (min-width: 400px) {
  .skill {
    width: 140px;
  }
}

/* Projects section
---------------------*/
.projects {
  position: relative;
}

.project {
  margin: 1em 0;
  cursor: pointer;
  overflow: hidden;
}

.fluid-height-wrapper {
  height: 0;

  padding-bottom: 86%;
}

// 2 column layout
@media all and (min-width: 500px) {
  .projects::after {
    display: block;
    clear: both;
    content: "";
  }

  .project {
    width: 55%;
    margin: 2%;
  }
}

@media all and (min-width: 500px) and (max-width: 799px) {
  .projects {
    padding-bottom: 25%;
  }

  .project:nth-child(2n) {
    float: right;
    margin: -25% 0;
  }
}

// 3 column layout
@media all and (min-width: 800px) and (max-width: 1149px) {
  .project {
    width: 39%;
    margin: 2% 0;
  }

  .project:nth-child(8n - 6) {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 0;
  }

  .project:nth-child(8n - 5) {
    position: absolute;
    top: 15%;
    left: 30.5%;
  }

  .project:nth-child(8n - 3) {
    position: absolute;
    top: 34%;
    right: 0;
    margin-top: 0;
  }

  .project:nth-child(8n - 2) {
    position: absolute;
    top: 49%;
    left: 30.5%;
  }

  .project:nth-child(8n) {
    position: absolute;
    bottom: 0;
    right: 0;
    margin-bottom: 0;
  }
}

// 4 column layout (2 rows)
@media all and (min-width: 1150px) {
  .projects {
    padding-bottom: 14%;
  }

  .project {
    width: 29%;
  }

  .project:nth-child(8n - 5) {
    position: absolute;
    top: 20%;
    left: 23%;
    margin-top: 0;
  }

  .project:nth-child(8n - 4) {
    position: absolute;
    top: 60%;
    left: 23%;
    margin-top: 0;
  }

  .project:nth-child(8n - 3) {
    position: absolute;
    top: 0;
    left: 46%;
    margin-top: 0;
  }

  .project:nth-child(8n - 2) {
    position: absolute;
    top: 40%;
    left: 46%;
    margin-top: 0;
  }

  .project:nth-child(8n - 1) {
    position: absolute;
    top: 20%;
    left: 69%;
    margin-top: 0;
  }

  .project:nth-child(8n) {
    position: absolute;
    top: 60%;
    left: 69%;
    margin-top: 0;
  }
}

.project-teaser {
  position: relative;
  overflow: hidden;
  transform: translateY(-7%) rotate(45deg) skew(15deg, 15deg) scale(0.95);
}

.project-image {
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  transform: skew(-15deg, -15deg) rotate(-45deg) scale(1.15);
}

@media all and (min-width: 800px) {
  .project-image {
    filter: grayscale(0.8);
    // transition: filter 0.3s linear;
  }

  .project:hover .project-image {
    filter: none;
  }
}

.project-text-wrap {
  position: absolute;
  top: 55%;
  width: 100%;
  height: 50%;
  padding: 0 3em;
  text-align: center;
  background-color: $project-title-background;
  color: $white;
  transform: skew(-15deg, -15deg) rotate(-45deg) translateX(17%) scale(1.15);
}

@media all and (min-width: 550px) {
  .project-text-wrap {
    font-size: 1.2em;
  }
}

@media all and (min-width: 1600px) {
  .project-text-wrap {
    font-size: 1.5em;
  }
}

.details {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: $popup-overlay-colour;
  overflow-y: auto;
  z-index: 10;
  cursor: initial;
}

.details-content-wrap {
  position: relative;
  margin: 10px;
  padding: 2em;
  background-color: $popup-background;
  color: $popup-text;

  .close {
    position: absolute;
    top: 1rem;
    right: 1rem;
    margin: 0;
    padding: 0 0.25em;
    font-size: 2em;
    line-height: 1;
    background-color: transparent;
    color: $button-background-colour;
    cursor: pointer;
  }

  img {
    display: block;
    max-height: 250px;
    margin: 1em auto;
  }

  .images {
    text-align: center;

    img {
      display: inline-block;
      max-width: calc(100% - 2em);
      margin: 1em;
      vertical-align: middle;
    }
  }
}

@media all and (min-width: 1000px) {
  .details-content-wrap {
    max-width: 980px;
    margin: 3em auto 1em;
    padding: 2em;
  }
}

/* Contact section
---------------------*/
.contact-info {
  display: flex;
  flex-wrap: wrap;
}

.contact-detail {
  width: 100%;
  margin: 1.5em 0.5em;
}

@media all and (min-width: 650px) {
  .contact-detail {
    max-width: calc(33% - 1em);
  }
}

.icon {
  display: inline-block;
  width: 32px;
  margin-right: 16px;
  vertical-align: middle;
}

.contact-text {
  display: inline-block;
  width: calc(100% - 55px);
  vertical-align: middle;
  word-wrap: break-word;

  h3 {
    margin-top: 0;
  }

  p {
    margin-bottom: 0;
  }
}
