/* Resets
---------------------*/
html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

nav ul {
  margin: 0;
  padding: 0;
}

a {
  color: #087E8B;
}

button {
  margin: 1em;
  border: none;
  border-radius: 5px;
  padding: 0.5em 1em;
  font-size: 1em;
  background-color: #FF5A5F;
  color: #F5F5F5;
}


/* Fonts
---------------------*/
html {
  font-family: 'PT Sans', serif;
  background-color: #F5F5F5;
  color: #3C3C3C;
}

h1, h2 {
  font-family: 'PT Serif', serif;
  font-weight: normal;
}

button {
  font-family: 'PT Sans', serif;
}


/* Header
---------------------*/
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #3C3C3C;
}

.page-title {
  color: #F5F5F5;
}

nav {
  width: 100%;
  max-width: 400px;
}

nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

nav li {
  display: inline-block;
  flex: 1 0 auto;
  height: 100%;
}

nav a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 1em;
  text-align: center;
  color: #FF5A5F;
}

nav a:hover {
  background-color: #FF5A5F;
  color: #F5F5F5;
  transition: background-color 0.3s linear, color 0.3s linear;
}

/* Main
---------------------*/
main {
  padding: 1em;
}


/* Contact section
---------------------*/
.contact-info {
  display: flex;
  flex-wrap: wrap;
}

.contact-detail {
  width: 100%;
}


/* Responsive
---------------------*/
/* Header */
@media all and (min-width: 650px) {
  header {
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
  }

  .page-title {
    margin-left: 1rem;
  }
}

/* Contact section */
@media all and (min-width: 500px) {
  .contact-detail {
    width: 50%;
  }
}

@media all and (min-width: 1000px) {
  .contact-detail {
    width: 25%;
  }
}
