// Fonts
//---------------------/
$font-heading: 'PT Sans', serif;
$font-body: 'PT Sans', serif;


// Colours
//---------------------/
$white: #F5F5F5;
$dark-grey: #939FAB;
$red: #E85257;
$blue: #087E8B;
$black: #3C3C3C;

$background-colour: $white;
$text-colour: $black;

$link-colour: $blue;

$nav-background: $black;
$nav-link-text: $red;
$nav-link-text-hover: $white;
$nav-link-background-hover: $red;

$button-text-colour: $white;
$button-background-colour: $red;

$project-title-background: rgba($red, 0.7);

$popup-overlay-colour: rgba(0, 0, 0, 0.8);
$popup-background: $popup-overlay-colour;
$popup-text: $white;
